body {
    font-family: 'UnifrakturCook', cursive;
}

.button-download {
    padding: 20px 40px;
    background-color: rgb(112, 5, 5);
    display: inline-block;

    text-decoration: none;
    color: gray;
}
.exemple{
    height: 30vw;
}

h1 {
    text-align: center;
}

h4 {
    font-size: 1.25em;
    margin-bottom: 0;
}